@import url('https://fonts.googleapis.com/css?family=Lilita+One&display=swap');

:root {
    --purple: #B497D6;
    --darkBlue: rgb(5, 32, 74);
    --borderRadiusVal: 24px;
    --lilac: #E1E2EF;
}

html {
    height: 100%;
}

body {
    
    font-family: 'Lilita One', sans-serif;
    background-color: var(--darkBlue);
    color: white;
    letter-spacing: 0.1em;
    height: 100vh;
}

.container {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 5em;
}

.control-container, .lobby-container, .quiz-container, .errorGameCode, .errorUsername {
    display: none;
}

.errorUsername, .errorGameCode {
    color: red;
    font-size: 2rem;
    margin: 0;
}

.lobby-inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 35rem;
}


.title {
    text-align: center;
    font-size: 10em;
    margin: 0;
}

.join-game-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* row-gap: 10rem; */
}

.gameCodeValue {
    height: 7rem;
    background-color: var(--lilac);
    border-radius: var(--borderRadiusVal);
    border-style: solid;
    border-color: var(--purple);
    border-width: 1rem;
    font-size: 4.5rem;
    font-family: 'Lilita One', sans-serif;
    width: 50rem;
    margin-bottom: 1rem;

}

.joinQuitButtonParent {
    margin-top: 5rem;
}

button {
    background-color: var(--purple);
    font-family: 'Lilita One', sans-serif;
    color: var(--lilac);
    border-radius: var(--borderRadiusVal);
}


.joinButton,
.quitButton {

    width: 35rem;
    height: 10rem;

    font-size: 5.5rem;

    align-items: center;

    border-style: solid;
    border-color: var(--lilac);
    border-width: 1rem;
}

.answer-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.answer-button {
    width: 20rem;
    height: 20rem;
    margin: 0.1em;
    font-size: 6rem;
    align-items: center;
    text-align: center;
    padding: 0rem 2rem;
}

.answer-button:disabled {
    background-color:#A296AF;
}

.answer-button:hover {
    background-color: var(--lilac);
    color: black;
}

.button:active {
    background-color: var(--purple);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.gameCodeDescription {
    font-size: 5.5rem;
    margin: auto;

    padding-top:1.5rem;
    padding-bottom:1.5rem;

    margin-top: 5rem;
    margin-bottom: 2rem;


    width: 35rem;
    height: 8rem;
    background-color: var(--purple);
    border-radius: var(--borderRadiusVal);
}

.lobbyDescription {
    font-size: 6rem;
    margin-top: 20rem;
    margin-bottom: 20rem;
}

.score-container {
    background-color: var(--lilac);
    border-radius: var(--borderRadiusVal);

    width: 45rem;
    height: 40rem;
    
    margin: auto;

    font-size: 6rem;
    display: flex;
    flex-direction: column;
}

.score-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    row-gap: 3rem;
}

.name-label,
.score-label {
    display: flex;
    flex-direction: column;
    background-color: var(--purple);
    border-radius: var(--borderRadiusVal);
    align-items: center;
    justify-content: center;
}

.name-label {
    width: 50rem;
    height: 10rem;
}

.score-label {
    width: 25rem;
    height: 8rem;
    color: black;
}

.controlDescription {
    font-size: 6rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.control-inner {
    display: flex;
    flex-direction: column;
    row-gap: 10rem;
}

.controls {
    background-color: var(--lilac);
    border-radius: var(--borderRadiusVal);
    width: 45rem;
    height: 45rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;

    display: grid;
    grid-column-gap: 0;
}

.move-control {
    width: 13rem;
    height: 8rem;
    font-size: 3rem;
    align-items: center;
    margin: 1rem;
    padding: 0rem 2rem;
}

#up {
    grid-column-start: 2;
}

#left {
    grid-column-start: 1;
}

#down {
    grid-column-start: 2;
}

#right {
    grid-column-start: 3;
}





/* TEMPORARY!!!!!!!!!!!!!!!! */
.temp-nav {
    width: 5rem;
    height: 5rem;
    font-size: 1rem;
    align-items: center;
    text-align: center;
}